.close {
  position: relative;
  float: right;
  top: -16px;
  right: 0;
  margin-bottom: -40px;
}

.mat-input-container {
  width: 100%;
  margin: -16px 0;
  font-size: 32px;
}

.mat-input-element:disabled {
  color: currentColor;
}

:host /deep/ .mat-input-placeholder {
  top: 10px !important;
  font-size: 24px !important;
}
