.mat-button,
.mat-icon-button,
.mat-raised-button {
  min-width: 64px;
  min-height: 64px;
  padding: 0;
  margin: 2px;
  font-size: 32px;
  line-height: 32px;
}

.mat-button.spacer,
.mat-icon-button.spacer,
.mat-raised-button.spacer {
  background-color: transparent;
}
