<button
  mat-raised-button
  color="primary"
  fxFlex="{{ flexValue }}"
  [class.spacer]="spacer"
  [disabled]="isDisabled()"
  (click)="onKeyPress()">
  <span *ngIf="!special">{{ keyValue }}</span>
  <span *ngIf="special">
                <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
                {{ text }}
            </span>
</button>

